body{
    display:flex;
    flex-flow: wrap;
    max-width: 750px;
    max-height: 750px;
    flex-direction: column;

    background-color: rgba(79, 33, 26, 0);
    background-image: url("imgSilentHill2/silentHill2Background.jpg");
    background-size: 730px 750px;
    background-blend-mode:color-dodge;
    background-repeat: no-repeat;
}


header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 120px;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 240px, 240px, 240px;
    row-gap: 5px;
    background-image: url("imgSilentHill2/redSquare.png");
    background-size: 425px 425px;
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:top 150px left 150px;
 
}


.abstractDaddy{
    display: grid;
    grid-column: 2;
    grid-row: 1;
    width: 330px;
    height: 120px;
}

p{
    display: grid;
    grid-column: 1;
    font-size:30px;
    text-align: center;
    font-style: oblique;
    width: 300px;
    height: 115px;
    color: rgba(255, 34, 0, 0.345);
}


.fleshLip{
    display: grid;
    grid-column: 1;
    grid-row: 1;
    width: 90px;
    height: 240px;
}

.mannequinFront{
    display: grid;
    grid-column: 2;
    grid-row: 1;
    width: 80px;
    height: 275px;    
}

.pyramidJamesDance{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    width: 250px;
    height: 420px;
}

.mannequinBack{
    display: grid;
    grid-column: 5;
    grid-row: 1;
    width: 80px;
    height: 275px;
}

.lyingFigureClose{
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start:2;
    width: 225px;
    height: 145px;
}

.lyingFigure{
    display: grid;
    grid-column: 5;
    grid-row:2;
    width: 115px;
    height: 145px;
}

.mandarin{
    display: grid;
    grid-column: 1;
    grid-row: 3;
    width: 115px;
    height: 180px;
}

.bubbleHeadNurseClose{
    display: grid;
    grid-column: 2;
    grid-row:3;
    width: 115px;
    height: 170px;
}

.mariaBossForm{
    display: grid;
    grid-column-start: 3;
    grid-column-end: 6;
    grid-row: 3;
    width: 410px;
    height: 180px;
}
